h1 {
     text-align: center;
     font-weight: bold;
}
#red {
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: red;
}

#blue {
    width: 150px;
    height: 150px;
    
    margin: 5px;
    background-color: blue;

}

#yellow {
    width: 150px;
    height: 150px;
    
    margin: 5px;
    background-color: yellow;

}


#green {
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: green;

}

.container {
    display: flex;
    justify-content: center;
}
.board {
    display: flex;
    justify-content: center;
}


.cube {
    border: 5px black solid;
}


.cube:hover {
    cursor: pointer;
}




.buttons-style {
    width: 300px;
    height: 100px;
    font-size: 50px;
    margin-top: 10px;

}

.buttons-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttons {
    display: flex;
    flex-direction: column;
}

#round-text {
    text-align: center;
    visibility: hidden;
}

#modal {
    position: fixed;
    width: 35%;
    height: 70vh;
    z-index: 1;
    top: 9%;
    display: none;
    align-items: center;
    flex-direction: column;
    animation-name: modal-animation;
    animation-duration: 1s;
    background-color: white;
    border: black solid 5px;
    border-radius: 10%;
    
}

#modal-headding { 
    text-align: center;
}

.modal-buttons {
    width: 40%;
    height: 15%;
    margin-top: 10%;
    font-size: 30px;
}

@-webkit-keyframes modal-animation {
    from {top: 0%; opacity: 0;}
    to {top: 9%; opacity: 1;}
}